[config]
mypkg = cosent.buildtools
eggs = 
     ${config:mypkg}

[buildout]
parts =
    bumpversion
    test
develop = .

[bumpversion]
recipe = zc.recipe.egg
eggs = cosent.buildtools
scripts = bumpversion

[test]
recipe = pbp.recipe.noserunner
eggs =
    ${config:eggs}
    nosexcover
